<h1>Posts</h1>

<% @blogposts.each() do |blogpost| %>
	<hr >
	<h3 > 
		<%= link_to blogpost.title, {:action => :show, :id => blogpost}, {:style => 'color:darkblue;'} %>
		<%= link_to "Delete", {:action => :index}, {:style => 'color:black;border-right:solid;font-size:10px;padding-right:2px; border-width:1px;'}%>
		<%= link_to "Update", {:action => :index}, {:style => 'color:black;font-size:10px;'} %>

	</h3>
	<span style="color:gray"> <%= blogpost.content %> </span>
<% end %>	
<hr>
<br/>
<%= link_to "Add new post", :action => :new %>