<h2>
	<%= @blogpost.title %>
	<%= link_to "Delete", {:action => :destroy, :id => @blogpost.id},  {:method => :delete, :data => {:confirm => 'Are you sure?'} ,:style => 'color:black;border-right:solid;font-size:10px;padding-right:2px; border-width:1px;'}%>
	<%= link_to "Update", {:id => @blogpost.id, :action => :edit}, {:style => 'color:black;font-size:10px;'} %>
</h2>


<div>
	<span><%= @blogpost.content %></span>
</div>

<h2>Comments</h2>
<%= render @blogpost.comments %>


<h2>Add a comment:</h2>
<!-- should add condition if theres a user session loggedin HERE DON'T FORGET-->
<%= render "comments/form" %>
<br />

<%= link_to "Back", blogposts_path %>