<h2>
	<%= @blogpost.title %>
	<%= link_to "Delete", {:action => :destroy, :id => @blogpost.id},  {:method => :delete, :data => {:confirm => 'Are you sure?'} ,:style => 'color:black;border-right:solid;font-size:10px;padding-right:2px; border-width:1px;'}%>
	<%= link_to "Update", {:id => @blogpost.id, :action => :edit}, {:style => 'color:black;font-size:10px;'} %>
</h2>

<div>
	<span><%= @blogpost.content %></span>
</div>

<h2>Comments</h2>

<% @blogpost.comments.each do |comment| %>
	<div style="border:double; padding:12px; padding-top:0px">
		<h3><%= User.find(comment.user_id).name%></h3>
		<span><%= comment.text %></span>
		<%= link_to "Edit", edit_blogpost_comment_path(@blogpost, comment), {:style => "font-size:10px;"} %>
</div>
<br/>
<% end %>

<% if @comment.errors.any? %>
	<div id="errorExplanation">
		<h3>Comment could not be saved. <%= pluralize(@comment.errors.count, "error") %> were found.</h3>
		<ul>
			<% @comment.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

<h2>Add a comment</h2>
<%= form_for [@blogpost, @blogpost.comments.build] do |form| %>
	<p>
		<%= form.text_area :text, :placeholder => "Comment" %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to "Back", blogposts_path %>