<div id="wrapper">
	<div id="sidebar">
		<h4>اجابة</h4>
		<% @page.answers.each do |answer| %>
		<p><%= answer.body %></p>
		<p><%= link_to "امسح", [@page,answer], :method => :delete, :confirm => "Are you sure?"%>
		<hr>
		<%end%>
	</div>
		
	<div id="content"> 
		<p id="notice"><%= notice %></p>
		<p><%= @page.html_markup%></p>
		<%= form_for [@page,@page.answes.build] do |f| %>
		<p><%= f.text_area :body, :size => '40x10'%></p>
		<p><%= f.submit "Submit answer"%></p>
	<% end %>
	</div>
</div>





