<div id="wrapper">





	<div id="sidebar">
          <div onclick="$('#c').toggle();$('#q').toggle()" class="sw"></div>

                 <div id="q" style="display:none;">
                  	<h4>&#1575;&#1604;&#1571;&#1587;&#1574;&#1604;&#1577;</h4>
	           	<% @page.questions.each do |question| %>
		        <p><%= question.body %></p>
                        <p><%= link_to "امسح", [@page,question], :method => :delete, :confirm => "Are you sure?"%>
		<hr>
		<%end%>
                 </div>


                 <div id="c">
		<h4>التعليقلت</h4>
		<% @page.comments.each do |comment| %>
		<p><%= comment.body %></p>
		<p><%= link_to "امسح", [@page,comment], :method => :delete, :confirm => "Are you sure?"%>
		<hr>
		<%end%>
		</div>
	</div>

	<div id="content">
		<p id="notice"><%= notice %></p>
		<p><%= @page.html_markup%></p>
		<%= form_for [@page,@page.comments.build] do |f| %>
		<p><%= f.text_area :body, :size => '40x10'%></p>
		<p><%= f.submit "Post Comment"%></p>
	<% end %>
	</div>
</div>





