<div id="wrapper">
	<!-- Get the HTML Page from the database and put in a div with an ID -->
	<div id="html_content"><%= @page.html_markup%></div>
	<!-- The SideBar -->
	<div id="sidebar">
		<h4>التعليقلت</h4>
		<% @page.comments.each do |comment| %>
		<p><%= comment.body %></p>
		<p><%= link_to "امسح", [@page,comment], :method => :delete, :confirm => "A you sure?"%>
		<hr>
		<%end%>
		<div id="add_comment" onclick="draw_circle();">+</div>
	</div>	

	<!-- Main Content -->
	<div id="content"> 
		<!-- Notice to see the errors -->
		<p id="notice"><%= notice %></p>
		<!-- Draw the circle initially hidden -->
		<div id="drag_resize"><img src="/assets/circle.png"/>
			<!-- Circle buttons to delete or to add a comment -->
			<div id="choose_area" class="circle_settings"  onclick="create_note();">+</div>
			<div id="delete_circle" class="circle_settings"  onclick="delete_circle();">-</div>
		</div>
		<!-- The iframe to contain the page to be reviewed-->
		<iframe id="myiframe" scrolling="auto" src="" width="100%" height="1300px"></iframe>
		<!-- Draw NotePaper -->
		<div class="note hide">	
			<%= form_for [@page,@page.comments.build] do |f| %>
				<p><%= f.text_area :body,:placeholder => "علق هنا"%></p>
				<%= f.submit "+",:class => 'circle_button',:id => 'submit_comment',:onclick => "delete_all();"%>
			<% end %>
			<!-- Button to delete the comment -->
			<div class="circle_button" id="delete_comment" onclick="delete_all();">-</div>
		</div>
	</div>

</div>