<!-- Fetching questions from the database,just for testing -->
<div id="questions" style="display:none;">
				<h4>الاسئلة</h4>
                    
				    

            <!-- show and hide answers -->
			<p onclick="$('.answers2').toggle();" class="pointer">  (&#1592;&#1607;&#1608;&#1585; / &#1573;&#1582;&#1601;&#1575;&#1569;) &#1575;&#1604;&#1573;&#1580;&#1575;&#1576;&#1575;&#1578; </p>


				<%@page.questions.each do |question|%>
					<div id="<%=question.assigned_part%>">
						<p onClick="lastm(this);" class="pointer"  style="color:red"><%= question.body %></p>
						 <p onClick="showme(this.innerHTML);" class="koke" style="visibility:hidden" ><%=question.assigned_part%></p>
					<h5>:اجابتك </h5>
					<% question.answers.each do |ans| %>
					<% if(question.body!="jhhsicn comment") then %>  <!-- to be used when session variables are added -->
						<div class="answers2" style="display:none">
						<p><%= ans.answer %></p>
						<p><%= link_to "امسح", [@page,question,ans], :method => :delete, :confirm => "هل انت متأكد !",:remote =>true,:class =>"delete_answer" %>
						<hr>
						</div>			
					<%end%>
					<%end%>
					
					<p><%=link_to_function "اجب", "sliding_form()", :class => "pressed"%></p>
					<hr>
					
					<% if !(question.answers.find(:all).empty?) %>
							
					<%end%>
					<div class = "form_message">
							<%= form_for [@page,question,question.answers.build] do |f| %>
							<%= f.text_area :answer,:placeholder => "اكتب اجابتك هنا",:class => "message_area", :required=> true %>
								<div align:"left">
								<%= f.submit "+", :class => "add_comment blue_circle", :align => 'left'%>
								</div>
							<%end%>
					</div>
					<hr>
					</div>
				<%end%>
			</div>