<%= stylesheet_link_tag "reviewing"%>
<%= javascript_include_tag "reviewing"%>

<div id="wrapper">
	<!-- Get the HTML Page from the database and put in a div with an ID -->
	<div id="html_content"><%= @page.html%></div>
	<div style="float: right;">
		<img id="slidebutton" src="/assets/slider_button.png" width="38px" height="41px">
	</div>
	<!-- The SideBar -->
	<div id="sidebar">
		<div id="side_content">
			<!-- Notice to see the errors -->
			<p id="notice"><%= notice %></p>
			<h4>التعليقلت</h4>
			<!-- Fetching comments from the database,just for testing -->
			<%= render :partial => 'comments/comments' %>
			<h4>الاسئلة</h4>
			<%= render :partial => 'questions/questions' %>
			<!-- The + buttom on clicking draw the circle -->
			<div class="add_comment" onclick="draw_circle();">+</div>
		</div>	
	</div>

	<!-- Main Content -->
	<div id="content" onmousemove="selectItem();"> 
		<!-- Draw the circle initially hidden -->
		<div id="drag_resize"><img src="/assets/circle.png"/>
			<!-- Circle buttons to delete or to add a comment -->
			<div id="choose_area" class="circle_settings"  onclick="create_note();">+</div>
			<div id="delete_circle" class="circle_settings"  onclick="delete_circle();">-</div>
		</div>
		<!-- The iframe to contain the page to be reviewed-->
		<iframe id="myiframe" src="" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
		<!-- Draw NotePaper -->
		<div class="note hide">	
			<%= form_for ([@page,@page.questions.build]),:remote => true do |f| %>
				<p><%= f.text_area :body,:placeholder => "علق هنا"%></p>
				<p class="hide"><%= f.text_area :assigned_part,:id => "assignedpart"%></p>
				<%= f.submit "+",:class => 'circle_button',:id => 'submit_comment',:onclick => "delete_all();"%>
			<% end %>
			<!-- Button to delete the comment -->
			<div class="circle_button" id="delete_comment" onclick="delete_all(true);">-</div>
		</div>
	</div>
</div>