<h1>Welcome to Commenter</h1>

<% @pages.each do |page| %>
    <!--<h2><%= link_to page.html,page %></h2>-->
    <h2><%= link_to page.page_name,page %></h2>
    <p><%= time_ago_in_words page.created_at %> ago</p>
    <p><%= truncate page.html %></p>
    <p><%= link_to 'Edit', edit_page_path(page) %></p>
    <% message = @task ? 'This page is included in a task are you sure you want to delete this page' : 'Are you sure you want to delete this page' %>
    <p><%= link_to "مسح", page, :confirm => message, :method => :delete %><p>  
    <p><%= link_to 'Reviewer',:controller => :pages, :action => :reviewer, :id => page %></p>
    <p><%= link_to 'Designer',:controller => :pages, :action => :designer, :id => page %></p>
  <%end%>

<%= link_to "New Page", new_page_path%>
