<div id="wrapper">
	<!-- Get the HTML Page from the database and put in a div with an ID -->
	<div id="html_content"><%= @page.html_markup%></div>
	<!-- The SideBar -->
	<div id="sidebar">
		<h4>التعليقلت</h4>
		<div id="comments">
			<% @page.comments.each do |comment| %>
			<div>
				<p><%= comment.body %></p>
				<p><%= link_to "امسح", [@page,comment], :method => :delete, :confirm => "A you sure?",:remote =>true,:class =>"delete_comment" %>
				<hr>
			</div>
			<%end%>
		</div>
		<hr>
		<div id="questions">
			<% @page.questions.each do |question| %>
			<div>
				<p><%= question.body %></p>
				<p><%= link_to_function "اجب",'create_note();'%> </p>
				<hr>
			</div>
			<%end%>
		</div>
		<div id="add_comment" onclick="draw_circle();">+</div>
		<!-- Notice to see the errors -->
		<p id="notice"><%= notice %></p>
	</div>	

	<!-- Main Content -->
	<div id="content" onmousemove="selectItem();"> 
		<!-- Draw the circle initially hidden -->
		<div id="drag_resize"><img src="/assets/circle.png"/>
			<!-- Circle buttons to delete or to add a comment -->
			<div id="choose_area" class="circle_settings"  onclick="create_note();">+</div>
			<div id="delete_circle" class="circle_settings"  onclick="delete_circle();">-</div>
		</div>
		<!-- The iframe to contain the page to be reviewed-->
		<iframe id="myiframe" scrolling="auto" src="" width="100%" height="1300px"></iframe>
		<!-- Draw NotePaper -->
		<!-- draw notepaper for answering question -->
	
		<!-- draw notepaper for commenting-->
		<div class="note hide">	
			<%= form_for [@page,@page.comments.build] do |f| %>
				<p><%= f.text_area :body,:placeholder => "علق هنا"%></p>
				<p class="hide"><%= f.text_area :assigned_part,:id => "assignedpart"%></p>
				<%= f.submit "+",:class => 'circle_button',:id => 'submit_comment',:onclick => "delete_all();"%>
			<% end %>
			<!-- Button to delete the comment -->
			<div class="circle_button" id="delete_comment" onclick="delete_all();">-</div>
		</div>
	</div>

</div>