<%= stylesheet_link_tag "reviewing"%>
<%= javascript_include_tag "reviewing"%>

<div id="wrapper">
	<!-- Get the HTML Page from the database and put in a div with an ID -->
	<div id="html_content"><%= @page.html%>
	</div>
	<!-- The SideBar -->
	<div id="sidebar">
		<h4>التعليقلت</h4>
		<!-- Fetching comments from the database,just for testing -->
		<div id="comments">
			<% @page.comments.each do |comment| %>
				<div>
					<!-- Getting the comment -->
					<p><%= comment.body %></p>
					<!-- The deleting method uses AJAX destroy.js.erb -->
					<p><%= link_to "امسح", [@page,comment], :method => :delete, :confirm => "A you sure?",:remote =>true,:class =>"delete_comment" %>
					<hr>
				</div>
			<%end%>
		</div>
		<!-- The + buttom on clicking draw the circle -->
		<div class="add_comment" onclick="draw_circle();">+</div>
		<hr>
		<!-- Fetching questions from the database,just for testing -->
		<div id="questions">
			<h4>الاسئلة</h4>
			<% @page.questions.each do |question| %>
				<div>
					<p><%= question.body %></p>
					<p><%=link_to_function "اجب", "sliding_form()", :class => "pressed"%></p>
					<hr>
						<hr>
					<% if !(question.answers.find(:all).empty?) %>
						<h5>:اجابتك </h5>
					<%end%>
					<% question.answers.each do |ans| %>
						<div>
							<p><%= ans.answer %></p>
								<p><%= link_to "امسح", [@page,question,ans], :method => :delete, :confirm => "هل انت متأكد !",:remote =>true,:class =>"delete_answer" %>
								<hr>
						</div>		
					<%end%>
					<div class = "form_message">
						<%= form_for [@page,question,question.answers.build] do |f| %>
							<%= f.text_area :answer,:placeholder => "اكتب اجابتك هنا",:class => "message_area", :presence=> true %>
							<div align:"left">
							<%= f.submit "+", :class => "add_comment blue_circle", :align => 'left'%>
							</div>
						<%end%>
					</div>
					<hr>
				</div>
			<%end%>
		</div>

			<!-- Notice to see the errors -->
			<p id="notice"><%= notice %></p>
	</div>	

	<!-- Main Content -->
	<div id="content" onmousemove="selectItem();"> 
		<!-- Draw the circle initially hidden -->
		<div id="drag_resize"><img src="/assets/circle.png"/>
			<!-- Circle buttons to delete or to add a comment -->
			<div id="choose_area" class="circle_settings"  onclick="create_note();">+</div>
			<div id="delete_circle" class="circle_settings"  onclick="delete_circle();">-</div>
		</div>
		<!-- The iframe to contain the page to be reviewed-->
		<iframe id="myiframe" scrolling="auto" src="" width="100%" height="1300px"></iframe>
		<!-- Draw NotePaper -->
		<div class="note hide">	
			<%= form_for [@page,@page.comments.build] do |f| %>
				<p><%= f.text_area :body,:placeholder => "علق هنا"%></p>
				<p class="hide"><%= f.text_area :assigned_part,:id => "assignedpart"%></p>
				<%= f.submit "+",:class => 'circle_button',:id => 'submit_comment',:onclick => "delete_all();"%>
			<% end %>
			<!-- Button to delete the comment -->
			<div class="circle_button" id="delete_comment" onclick="delete_all();">-</div>
		</div>
	</div>
</div>