<%= stylesheet_link_tag "reviewing"%>
<%= javascript_include_tag "reviewing"%>

<div id="wrapper">
	<div style="float: right;">
		<img id="slidebutton" src="/assets/slider_button.png" width="38px" height="41px">
	</div>
	<!-- The SideBar -->
	<div id="sidebar">
		<div id="side_content">
		<div onclick="$('#comments').toggle();$('#questions').toggle();$('#shows').toggle();$('#qshows').toggle()" class="sw"></div>
			
			<!-- The + buttom on clicking draw the circle -->
			<div>
			<div class="add_comment" onclick="draw_circle();">+</div>
			<!-- The T button to test the site -->
			<div class="add_comment" style="border-right:1px solid #fafafa" onclick="test_site('<%="../#{@page.project_id}/#{@page.page_name}.html"%>');">T</div>
			<hr>
		     
 					 <% array = Array.new %>                 <!-- create new array to store in all comments' divs locations-->
					 <% @page.comments.each do |comment| %>  <!-- loop on all comments -->
					 <% array << comment.assigned_part %>    <!-- insert the assigned part in the array-->
					 <%end%>
					 <p onClick="places(($(this).next('.no').text()),0);" id="shows" class="lilbuttonc">&#1575;&#1604;&#1593;&#1583;&#1583;</p>
					 <p onClick="places(this.innerHTML,0);" class="no" style="visibility:hidden"><%=array%></p>

					 <% ansarray = Array.new %>       
					 <% @page.questions.each do |question| %>
					 <% ansarray << question.assigned_part %>
					 <%end%>
					 <p onClick="places(($(this).next('.no').text()),1);" id="qshows" style="display:none" class="lilbuttonq">&#1575;&#1604;&#1593;&#1583;&#1583;</p>
				     <p onClick="places(this.innerHTML,0);" class="no" style="visibility:hidden"><%=ansarray%></p>
			 </div>
			<!-- Notice to see the errors -->
			<p id="notice"><%= notice %></p>
			<%= render :partial => 'comments/comments' %>
			<!-- Fetching questions from the database,just for testing -->
			<div id="questions" style="display:none">
			

  				
                
				    <h4>الاسئلة</h4>

            <!-- show and hide answers -->
			<p onclick="$('.answers2').toggle();" class="pointer">  (&#1592;&#1607;&#1608;&#1585; / &#1573;&#1582;&#1601;&#1575;&#1569;) &#1575;&#1604;&#1573;&#1580;&#1575;&#1576;&#1575;&#1578; </p>


				<%@page.questions.each do |question|%>
					<div id="<%=question.assigned_part%>">
						<p onClick="lastm(this);" class="pointer"  style="color:red"><%= question.body %></p>
						 <p onClick="showme(this.innerHTML);" class="koke" style="visibility:hidden" ><%=question.assigned_part%></p>
					<h5>:اجابتك </h5>
					<% question.answers.each do |ans| %>
					<% if(question.body!="jhhsicn comment") then %>  <!-- to be used when session variables are added -->
						<div class="answers2" style="display:none">
							<p><%= ans.answer %></p>
							<p><%= link_to "امسح", [@page,question,ans], :method => :delete, :confirm => "هل انت متأكد !",:remote =>true,:class =>"delete_answer" %>
							<hr>
						</div>			
					<%end%>
					<%end%>
					
						<p><%=link_to_function "اجب", "sliding_form()", :class => "pressed"%></p>
						<hr>
					
						<% if !(question.answers.find(:all).empty?) %>
							
						<%end%>
						<div class = "form_message">
							<%= form_for [@page,question,question.answers.build] do |f| %>
								<%= f.text_area :answer,:placeholder => "اكتب اجابتك هنا",:class => "message_area", :required=> true %>
								<div align:"left">
								<%= f.submit "+", :class => "add_comment blue_circle", :align => 'left'%>
								</div>
							<%end%>
						</div>
						<hr>
					</div>
				<%end%>
			</div>

		</div>
	</div>	

	<!-- Main Content -->
	<div id="content" onmousemove="selectItem();"> 
		<!-- Draw the circle initially hidden -->
		<div id="drag_resize"><img src="/assets/circle.png"/>
			<!-- Circle buttons to delete or to add a comment -->
			<div id="choose_area" class="circle_settings"  onclick="create_note();">+</div>
			<div id="delete_circle" class="circle_settings"  onclick="delete_circle();">-</div>
		</div>
		<!-- The iframe to contain the page to be reviewed-->
		<iframe id="myiframe" src=<%="../#{@page.project_id}/#{@page.page_name}.html"%> style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>

		<!-- Draw NotePaper -->
		<div class="note hide">	
			<%= form_for ([@page,@page.comments.build]),:remote => true do |f| %>
				<p><%= f.text_area :body,:placeholder => "علق هنا"%></p>
				<p class="hide"><%= f.text_area :assigned_part,:id => "assignedpart"%></p>
				<%= f.submit "+",:class => 'circle_button',:id => 'submit_comment',:onclick => "delete_all();"%>
			<% end %>
			<!-- Button to delete the comment -->
			<div class="circle_button" id="delete_comment" onclick="delete_all(true);">-</div>
		</div>
	</div>
</div>