<h2 class='User_Header'> <%=User.find_by_id(session[:user_id]).name%>: Profile Page <h2>
<%= link_to 'Update Info', :controller => 'users', :action => :edit, :id => session[:user_id] %>
<%= link_to 'Logout', :controller => 'sessions', :action => :logout %>
<%#= link_to 'View your blogposts', :controller => 'blogposts', :action => :index %>

<% @user_blogs.each do |user_blog| %>
<h3> <%= link_to user_blog.name, user_user_blog_path(@current_user, user_blog)
%></h3>
<%= link_to "Update", edit_user_user_blog_path(@current_user, user_blog), {:style => 'color:black;font-size:10px;'} %>

<% end %>

<%= form_for [@current_user, @current_user.user_blogs.build] do |form| %>
	<%= form.text_field :name, :placeholder => "Blog name" %>
	<%= form.submit %>
<% end %>