<!-- Fetching comments from the database,just for testing -->
<div id="comments">
	<!-- title of the side bar-->		
	<h4>التعليقلت</h4>   
	<% @page.comments.each do |comment| %>
		<div id="<%=comment.assigned_part%>"  onClick="outlineMe(<%= comment.assigned_part %>,this);"  data-toggle="tooltip" title="اضغط لإظهار موقعها" class="comments">
			<!-- Getting the comment -->
			<p class="pointer"><%= comment.body %></p>
        <p onClick="showme(this.innerHTML);" class="koke" style="visibility:hidden" ><%=comment.assigned_part%></p> <!-- stores the element's id and used to find its coordinates on click -->
	      <!-- The deleting method uses AJAX destroy.js.erb -->
			<%= link_to "امسح", [@page,comment], :method=>:delete,:confirm =>"هل انت متأكد !", :class =>"delete_comment",:remote => true %>
			<hr>
		</div>

	<%end%>

</div>