<% if index%3 == 0 %>
	<div class='card card-blue' style='	-webkit-transform: rotate(<%= 10 - rand(20) %>deg); transform: rotate(<%= 10 - rand(20) %>deg);'>
	</div>
<% else %>
	<% if index%3 == 1 %>
		<div class='card card-red'  style='	-webkit-transform: rotate(<%= 10 - rand(20) %>deg); transform: rotate(<%= 10 - rand(20) %>deg);' />
		</div>
	<% else %>
		<div class='card card-yellow'  style='	-webkit-transform: rotate(<%= 10 - rand(20) %>deg); transform: rotate(<%= 10 - rand(20) %>deg);'/>
		</div>
	<% end %>
<% end %>