<% randomNumber = rand(20) %>
<% if index%3 == 0 %>
	<li class='card card-blue' style='-webkit-transform: rotate(<%= 10 - randomNumber %>deg); transform: rotate(<%= 10 - randomNumber %>deg);' id='<%= id %>'>
<% else %>
	<% if index%3 == 1 %>
		<li class='card card-red'  style='-webkit-transform: rotate(<%= 10 - randomNumber %>deg); transform: rotate(<%= 10 - randomNumber %>deg);' id='<%= id %>'>
	<% else %>
			<li class='card card-yellow'  style='-webkit-transform: rotate(<%= 10 - randomNumber %>deg); transform: rotate(<%= 10 - randomNumber %>deg);' id='<%= id %>'>
	<% end %>
<% end %>
		<label class='card-label'>
			<%= name %>
		</label>
		<p class='card-p'>
			<%= desc %>
		</p>
	</li>
	