<%= stylesheet_link_tag "invitations" %>

<h2>ارسل دعوة </h2>
<div style="width:40%;float:right">
<%= form_tag('/cardsorts/invite_reviewer', :method => "post", :remote => true) do %>
<p >:البريد الالكتروني</br> <%= text_field_tag(:email) %></p>
<%= hidden_field_tag(:cardsort_id, @cardsort.id) %>
<p> :الرسالة</br> <%= text_area_tag :msg %> </p>
<%= submit_tag("ادعو", :class => 'btn btn-info') %>
</div>
<div style="float:left; height:100% ; margin-left: 20%;width:40%, border-style:groove;">
	<table id='invitations'>
		<% @reviewers.each_with_index do |reviewer, index| %>
		<tr>
			<td><div class='<%= if @statuses[index] then "done" else "pending" end %>' title='<%= if @statuses[index] then "done" else "pending" end %>'></div></td>
			<td><%= reviewer.email %></td>
		</tr>
		<% end %>
	</table>
</div>
<% end %>