<%= stylesheet_link_tag "colorpicker"%>
<%= javascript_include_tag "colorpicker"%>
<%= stylesheet_link_tag "drag_drop"%>
<%= javascript_include_tag "drag_drop"%>
<%= stylesheet_link_tag "explorer"%>
<%= javascript_include_tag "explorer"%>  
<%= javascript_include_tag "cloud-carousel.1.0.5"%>  

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script>
	$(document).ready(function(){					   
		// This initialises carousels on the container elements specified, in this case, carousel1.
		$("#carousel1").CloudCarousel(		
			{			
				xPos: 128,
				yPos: 32,
				buttonLeft: $("#left-but"),
				buttonRight: $("#right-but"),
				altBox: $("#alt-text"),
				titleBox: $("#title-text")
			}
		);
	});
</script>
<div id = "carousel1" style="width:1000;height:128px;overflow:scroll;margin-left:25%">            
  <img class = "cloudcarousel" src="/assets/card.png" alt="Flag 1 Description" title="Flag 1 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage3.jpg" alt="Flag 2 Description" title="Flag 2 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/add-button.png" alt="Flag 3 Description" title="Flag 3 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage.jpg" alt="Flag 4 Description" title="Flag 4 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage2.jpg" alt="Flag 4 Description" title="Flag 4 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/card.png" alt="Flag 1 Description" title="Flag 1 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage3.jpg" alt="Flag 2 Description" title="Flag 2 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/add-button.png" alt="Flag 3 Description" title="Flag 3 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage.jpg" alt="Flag 4 Description" title="Flag 4 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage2.jpg" alt="Flag 4 Description" title="Flag 4 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/card.png" alt="Flag 1 Description" title="Flag 1 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage3.jpg" alt="Flag 2 Description" title="Flag 2 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/add-button.png" alt="Flag 3 Description" title="Flag 3 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage.jpg" alt="Flag 4 Description" title="Flag 4 Title" length="75" width="75" />
  <img class = "cloudcarousel" src="/assets/addPage2.jpg" alt="Flag 4 Description" title="Flag 4 Title" length="75" width="75" />
</div>

<input id="left-but"  type="button" value="Left"/>
<input id="right-but" type="button" value="Right" />
<p id="title-text"></p>
<p id="alt-text"></p>


