<h1>Listing projects</h1>

<table>
  <tr>
    <th>Project name</th>
    <th>Description</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.project_name %></td>
      <td><%= project.description %></td>
      <td><%= project.project_type %></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Design', project %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Project', new_project_path %>
<%= stylesheet_link_tag 'cardsorts' %>
<%= javascript_include_tag 'cardsorts' %>

<% @projects.each do |p| %> <!-- loop on the projects created by the logged in designer -->
<h2><%= p.project_name %></h2> <!-- show each project name -->
<%= button_to_function "create new cardsort", "showPopup()" %>
<hr/>
<%end%>

<div class='popup-darkscreen'>
  <div class='popup-window'>
    <h3 class='title'>New Cardsort</h3>
    <%= form_for :cardsort, :url => {:controller => :cardsorts, :action => :new}, :method => :get do |form| %>
      <%= form.text_field :title, :placeholder => "title" %>
      <%= form.text_field :description, :placeholder => "description" %>
      <label class="radio"><%= form.radio_button :open, true, :checked => true %>Open</label>
      <label class="radio">Closed<%= form.radio_button :open, false %></label>
      <%= form.submit "Create cardsort" %>
      <%= button_to_function "cancel", "hidePopup()" %>
     <% end %>
  </div>
</div>

</body>
</html>

