<%= stylesheet_link_tag 'cardsorts' %>
<%= javascript_include_tag 'cardsorts' %>

<% @projects.each do |p| %> <!-- loop on the projects created by the logged in designer -->
<div class = "content">
  <div class ="row-fluid">
    <div class="span4">
      <h2><%= link_to p.project_name , p %></h2> <!-- show each project name -->
      <% message = @task ? 'هناك مهام متعلقة بهذا المشروع هل أنت متأكد من أنك تريد مسحه ' : 'هل أنت متأكد من مسح هذا المشروع ' %>
        <%= link_to "مسح", p, :confirm => message, :method => :delete %>
        <br/>
        <%= link_to "DesignPage", :controller => :projects, :action => :design, :project_id => p.id %>
      <br/>
      <%= link_to_function "create new cardsort", "showPopup()" %>
      <br/>
      <%= link_to "Tasks", :controller => :tasks, :action => :index, :project_id => p.id %> 
      <hr/>
      </div>
      <%end%>

    </div>
  </div>

 

<div class='popup-darkscreen'>
  <div class='popup-window'>
    <h3 class='title'>New Cardsort</h3>
    <%= form_for :cardsort, :url => {:controller => :cardsorts, :action => :new}, :method => :get do |form| %>
      <%= form.text_field :title, :placeholder => "title" %>
      <%= form.text_field :description, :placeholder => "description" %>
      <label class="radio"><%= form.radio_button :open, true, :checked => true %>Open</label>
      <label class="radio">Closed<%= form.radio_button :open, false %></label>
      <%= form.submit "Create cardsort" %>
      <%= button_to_function "cancel", "hidePopup()" %>
     <% end %>
  </div>
</div>

</body>
</html>

