<% @projects.each do |project| %>
    <h2><%= link_to project.project_name,project %></h2>
    <p><%= time_ago_in_words project.created_at %> ago</p>
    <p><%= project.id %></p>
    <p><%= link_to 'Edit', edit_project_path(project) %></p>
    <p><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <p><%= link_to 'Flowchart',:controller => :projects, :action => :allpages, :id => project.id %></p>

  <%end%>

<%= link_to "New Project", new_project_path%>
