<% if (@page.valid?) %>
	var changedItem = $('#<%= @page.id %>').parent().parent().parent();
	var changedThumbnail = $('#<%= @page.id %>').parent().parent();
	var span1 = changedThumbnail.children().first().next();
	var span2 = changedThumbnail.children().first().next().next();
	var span3 = changedThumbnail.children().first().next().next().next();
	var span4 = changedThumbnail.children().first().next().next().next().next();
	//changing the order in the item that contains the destined page
	if(span1.children().first().next().attr('id')==<%= @page.id %>){
		//the first span is the destination
		span1.remove();
	}else{
		if(span2.children().first().next().attr('id')==<%= @page.id %>){
			//the second span is the destination 
			span2.remove();
		}else{
			if(span3.children().first().next().attr('id')==<%= @page.id %>){
				//the third span is the destination
				span3.remove();
			}else{
				//the forth span is the destination
				span4.remove();
			}
		}
	}
	changedItem.children().append('<div class="span1"></div>');
	var totalItems = $('#carousel-inner').children().length;
	var item = $('#first-item');
	while(totalItems>1)	{
		if(item.children().children().last().prev().children().length==0)	{
			//swaping is required
			// spanToRemove is item.children().children().last().prev();
			// spanToTake is item.next().children().children().first().next();
			$(item.children().children().last().prev()).replaceWith(item.next().children().children().first().next());
			item = item.next();
			item.children().append('<div class="span1"></div>');
		}
		totalItems--;
	}
	if(item.children().children().first().next().children().length==0){
		item.remove();
	}	
<% else %>
<% end %>