<%= javascript_include_tag "explorer"%>

<div id="div">
<H1>Show pages</H1>
	<% @pages.each do |page| %>
	  <p id="pages">
	     <b>Page name:</b>
	   	 <%= page.page_name %>
	   	 <br>
	   	 <b>Page html:</b>
	   	 <%= page.html %>
	   	 <br>
	   	 <td><%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>

	   	 <iframe id =page.id src="" width="100" height="100" onclick="MALATAWY" ></iframe>	  	
	  </p>
	<% end %>
</div>


<!-- <button onclick="adding()">Add Page</button> -->
<button onclick="addPage()">Add Page</button>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


