<p id="notice"><%= notice %></p>

<p>
  <b>Project name:</b>
  <%= @project.project_name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Type:</b>
  <%= @project.project_type %>
</p>

<h2>Add a PAge:</h2>
<%= form_for([@project, @project.pages.build]) do |f| %>
  <div class="field">
    <%= f.label :page_name %><br />
    <%= f.text_field :page_name %>
  </div>
  <div class="field">
    <%= f.label :html %><br />
    <%= f.text_area :html %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
