
<script type="text/javascript">function addPage(){

	var input =window.prompt("Please enter Page Name","");

	if(input != null){
		<%= p = Page.new() %>		
		<%= p.page_name = @param %>
		<%= p.project_id = @id %>
		<%= p.save() %>
	}
}</script>



<p id="notice"><%= notice %></p>

<H1>Show pages</H1>
	<% @pages.each do |page| %>
	  <p id="pages">
	    <b>Page name:</b>
	   	 <%= page.page_name %>
	   	 <br>
	   	 <b>Page html:</b>
	   	 <%= page.html %>
	   	 <br>
	   	 <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </p>
	
	<% end %>

<button >Add Page</button>



	


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


