<!DOCTYPE html>
<html>
<head>
  <title>Arability</title>
  <!-- If you want to add your own style or js just make callit by useing (<%= stylesheet_link_tag 'mystlye'%>)in your view (don't callit here)-->
  <!-- It will use the application.css the Global css file for the site containig the (navg. bar and fonts).-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- It will use the application.js the Global js file for the site-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
	<!-- container for positioning the banner -->
	<div id="navigation_container">
	<!-- the ribbon body -->
		<div class="rectangle">
		<!-- the navigation links -->
			<ul id="navigation">
			<li><a href="#">خط عربي<div class="tabBar active" ></div></a></li>
			<li><a href="#">خط عربي<div class="tabBar" ></div></a></li>
			<li><a href="#">خط عربي<div class="tabBar"></div></a></li>
			</ul>
			<a href="#"><div width="107px" height="51px" class="logo"></div></a>
		<!-- end navigation links -->
		</div>
	<!-- end container -->
	</div>

	<%= yield %>

	<hr>
	<footer>
	 	<p>&copy;أرابليتي 2013</p>
	</footer>

</body>
</html>
