<!DOCTYPE html>
<html>
<head>
  <title>Arability</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<style>
</style>

<body>
<!-- layout stuff for the home page -->
<div id="designer_nav">
	<!-- if he's signed in show that he's signed in else show sign in and sign out buttons -->
  <% if designer_signed_in? %>
    Signed in as 
    <% if current_designer.fullname.eql?nil %>
      <%= current_designer.email %>
    <% else %>
      <%= current_designer.fullname %>
    <% end %>
    . Not you?
    <%= link_to "خروج", destroy_designer_session_path, :method => :delete %>
  <% else %>
  <div class = "span2">
    <%= link_to "التسجىل", new_designer_registration_path %>
    <label class ="label label-important" >او </label>
    <%= link_to "الدخول",new_designer_session_path%>
  <% end %>
  
</div>
</div>

<!-- making a flash for any errors -->
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
 <!-- -------------------- -->
 
<%= yield %>

<%= javascript_include_rpx(designer_session_url) %>
</body>
</html>