<div id="wrapper">
	<!-- Get the HTML Page from the database and put in a div with an ID -->
	<div id="html_content"><%= @page.html_markup%></div>
	<!-- The SideBar -->
	<div id="sidebar">
		<div onclick="$('#comments').toggle();$('#questions').toggle()" class="sw"></div> <!-- toggles between questions and comments -->
	
		<div id="comments">
                         	<h4>التعليقلت</h4>
                         	  
			<% @page.comments.each do |comment| %>
			<div>
				<p><%= comment.body %></p>
				<p onClick="showme(this.innerHTML);" ><%=comment.assigned_part%></p><!-- stores the element's id and used to find its coordinates on click -->
				<p><%= link_to "امسح", [@page,comment], :method => :delete, :confirm => "A you sure?",:remote =>true,:class =>"delete_comment" %>
				<hr>
			</div>
			<%end%>
		</div>
		<hr>
		<div id="questions" style="display:none">
		<h4>&#1575;&#1604;&#1571;&#1587;&#1574;&#1604;&#1577;</h4>
		<!-- toggles between viewing answers or not -->
                 <p onclick="$('#answers2').toggle();">  &#1592;&#1607;&#1608;&#1585; / &#1573;&#1582;&#1601;&#1575;&#1569;) &#1575;&#1604;&#1573;&#1580;&#1575;&#1576;&#1575;&#1578;) </p>


			<% @page.questions.each do |question| %>
			<div>
				<p><%= question.body %></p>
				<p onClick="showme(this.innerHTML);" ><%=question.assigned_part%></p> <!-- stores the element's id and used to find its coordinates on click -->
				<p><%= link_to "امسح", [@page,question], :method => :delete, :confirm => "A you sure?",:remote =>true,:class =>"delete_question" %>
				<hr>

                                <div>
                                     <!-- show each answer for every question -->
                                     <%= form_for [@page,question,question.answers.build] do |f| %>
                                     <p><%= f.text_area :answer,:placeholder => "اكتب الاجابة هنا",:id => "message_area", :presence=> true%></p>
                                     <%= f.submit "تسجىل", :class => "delete_comment"%>
                        <%end%>
				<hr>
				</div>

			</div>
			<%end%>
		</div>
		<div id="add_comment" onclick="draw_circle();">+</div>
		<!-- Notice to see the errors -->
		<p id="notice"><%= notice %></p>
	</div>	

	<!-- Main Content -->
	<div id="content" onmousemove="selectItem();"> 
		<!-- Draw the circle initially hidden -->
		<div id="drag_resize"><img src="/assets/circle.png"/>
			<!-- Circle buttons to delete or to add a comment -->
			<div id="choose_area" class="circle_settings"  onclick="create_note();">+</div>
			<div id="delete_circle" class="circle_settings"  onclick="delete_circle();">-</div>
		</div>
		<!-- The iframe to contain the page to be reviewed-->
		<iframe id="myiframe" scrolling="auto" src="" width="100%" height="1300px"></iframe>
		<!-- Draw NotePaper -->
		<div class="note hide">	
			<%= form_for [@page,@page.questions.build] do |f| %>
				<p><%= f.text_area :body,:placeholder => "علق هنا"%></p>
				<p class="hide"><%= f.text_area :assigned_part,:id => "assignedpart"%></p>
				<%= f.submit "+",:class => 'circle_button',:id => 'submit_comment',:onclick => "delete_all();"%>
			<% end %>
			<!-- Button to delete the comment -->
			<div class="circle_button" id="delete_comment" onclick="delete_all();">-</div>
		</div>
	</div>

</div>