<html lang="en">
<head>
	<title>Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../assets/stlesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../../../assets/stlesheets/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="../../../assets/stlesheets/custom.css">
</head>
<body>

	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	  	<div class="container">
		    <a class="brand" href="#">Homepage</a>
		    <ul class="nav">
      <li class="active"><%= link_to "Home", projectts_path %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "New Project", new_projectt_path %> </li>
      <li class="divider-vertical"></li>
      <li><a href="#">Contact us</a></li>

    </ul>
		</div>
	  </div>
	</div>

<%= form_for @projectt do |f| %>
 
<p>
	<%= f.label :Name %>
	<%= f.text_field :name %> <br/>
</p>

<p>
	<%= f.label :Type %>
	<%= f.text_field :type %> <br/>
</p>
<p>
	<%= f.label :Description %>
	<%= f.text_field :description %> <br/>
</p>
<p>
	<%= f.submit "Done" %>
</p>
	<%end%>
</body>
</html>
