<%= form_for(@user, :html => {:class => "register"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
   
    <%= f.text_field :email, :placeholder => "E-mail" %>
  </div>
  <div class="field">
    
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="actions">
    <%= f.submit "Regiter" %>
  </div>
<% end %>
<div class="shadow"/>
