<%= nested_form_for (@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :الاسم %><br />
    <%= f.text_field :title %></br>
  </p>


  <div id="sortable">     
    <%= f.fields_for :qquestions do |builder| %>
      <%= render "qquestion_fields", :f => builder %>
    <%end%>
    <%= f.link_to_add "Add a Question", :qquestions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
