<!-- The view for creating the questionnaire -->
<!-- Use nested form to access attributes of childs -->
<%= nested_form_for (@questionnaire),:remote =>true do |f| %>

  <div id="errors"></div>
  <!-- Getting the questionnaire title -->
  <%= f.text_field :title,:required =>"true",:value =>"اسم الاستبيان",:class =>"title" %></br>
  <!-- Using sortable to make it sortable using jquery UI -->
  <div id="sortable">
    <!-- Creating the questions -->
    <%= f.fields_for :qquestions do |builder| %>
      <!-- Rendering the questions fields -->
      <%= render "qquestion_fields", :f => builder %>
    <%end%>
    <!-- A link to add a question -->
    <%= f.link_to_add "اضف سوال", :qquestions ,:class=>"submit_button"%>
  </div>
  <!-- Submiting the questionnaire -->
  <div class="actions">
    <%= f.submit "احفظ",:class =>"submit_button"%>
  </div>
<% end %>
