<!-- author ahmed jihad -->
<!-- the answer form for the reviewer to answer -->
<%= stylesheet_link_tag "questionnaires"%>
<div dir = "rtl" align = "right">
	<%= nested_form_for (@questionnaire) do |f| %>
	<legend align="right"><%=@questionnaire.title%></legend>
	<br>
	<div id = 'main_form' >
		<label align="right" class = "dark pleaseAnswer">الرجاء الإجابة على الأسئلة التالية</label>
		<br><br>
		<% @questionnaire.qquestions.each do |question| %>
			<strong class ="question"><%=question.body %></strong>
			<%show = false%>
			</br>
			<%= f.fields_for :answer_questionnaires do |builder| %>
      	<!-- Rendering the answer fields -->
      	<%@c_all = ""%>
      	<%if builder.object.id == question.id && show ==false%>
					<!-- checking question type to give the correct form -->
					<%show = true%>
					<!-- set true if fields already rendered -->
					<% if question.qtype ==1%>
						<%= builder.text_field :body, options = {:required => true,:placeholder => "اكتب هنا",:value => "", :class =>"dark"}%>
					<%elsif question.qtype==2%>
						<%= builder.text_area :body, options = {:required => true,:placeholder => "اكتب هنا", :cols=>"5",:rows=>"2" ,:value => "", :class =>"dark"}%>
					<%elsif question.qtype==3%>
						<% question.choices.each do |choice| %>
		 					<%@c_all+=choice.body+ "," %> 
						<%end%>
						<%=builder.select(:body, options_for_select(@c_all.split(","), options ={:prompt => "اختر اجابة", :required => true, :class =>"dark"}))%>
					<%elsif question.qtype==4%>
						<% question.choices.each do |choice| %>
	 						<label class = "dark"><%= builder.check_box :body%>
	 						<%=choice.body%></label>
						<%end%>
					<%end%>
				<%elsif show ==false%>
					<%show = true%>
					<% if question.qtype ==1%>
						<%= builder.text_field :body, options = {:required => true,:placeholder => "اكتب هنا",:value => "", :class =>"dark"}%>
					<%elsif question.qtype==2%>
						<%= builder.text_area :body, options = {:required => true,:placeholder => "اكتب هنا", :cols=>"5",:rows=>"2", :value => "", :class =>"dark" }%>
					<%elsif question.qtype==3%>
						<% question.choices.each do |choice| %>
		 					<%@c_all+=choice.body+ "," %> 
						<%end%>
						<%=builder.select(:body, options_for_select(@c_all.split(","), options ={:prompt => "اختر اجابة", :required => true, :class =>"dark"}))%>
					<%elsif question.qtype==4%>
						<% question.choices.each do |choice| %>
	 						<label class = "dark"><%= builder.check_box :body%>
	 						<%=choice.body%></label>
						<%end%>
					<%end%>
				<%end%>
    	<%end%>
			</br>	
			<hr>
		<%end%>
		<%=f.submit "انتهيت", :class => "submit legend"%>
	<%end%>
	</br>	
	</div>
</div>
  

