<%= stylesheet_link_tag "questionnaire_builder"%>
<%= javascript_include_tag "questionnaire_builder"%>

<h1>Editing questionnaire</h1>

<%= render 'form' %>

<%= link_to 'Show', @questionnaire %> |
<%= link_to 'Back', questionnaires_path %>
