<%= stylesheet_link_tag "pages_view"%>

<div class="titleS">
  <div id="tit">الاستبيانات</div><div id="tb"></div>
</div>

  <% @questionnaires.each do |questionnaire| %>
    <div class="span4">
      <img src="/assets/questionnaire.png" width="200px" >
      <p><%= questionnaire.title %></p>
      <p class ="opt"><%= link_to 'Show', questionnaire %></p>
      <p class ="opt"><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: "هل انت متأكد !" } %></p>
      <p class ="opt"><%= link_to 'اجب', :controller => :questionnaires, :action => :answer_show, :id => questionnaire %></p>
    </div>
  <% end %>
<br/>

<p class="addq"><%= link_to 'استبيان جديد', :controller => :questionnaires, :action => :new, :project_id => @project %></p>