<%= stylesheet_link_tag "pages_view"%>
<%= stylesheet_link_tag "middlevie"%>
<%= javascript_include_tag "pages"%>

<div class="titleS">
  <div id="tit">الاستبيانات</div><div id="tb"></div>
</div>


  <% @questionnaires.each do |questionnaire| %>
      <div class='popup-darkbackground' id='popup-cardsortbck'></div>
        <div class = 'popup-createProject' id='popup-cardsort'> 
            <%= form_tag(sendQuestionnaire_questionnaire_path) do %>
              <div class = "pattern_form_up">
                <%= link_to_function "", "hideCardsortForm()", :class => "icon-remove close", :id => "close" %>
                <h5>دعوة المعلقين</h5>
              </div>
              <div class = "form_content">
                <div id='error_project' class='error'></div>
                <br>
                <br>
                <p>
                  <%= label_tag :email, "البريد الإلكتروني" %>
                  <%= text_area_tag :email,"", :cols => "50", :rows => "5" , :class => "emailField", :required =>true, :placeholder=> "يرجى ادخال فاصلة في حالة إرسال لعدة أشخاص" %> <br/>
                </p>
                <p>
                  <%= label_tag :description, "الرسالة" %>
                  <%= text_area_tag :description,"", :cols => "50", :rows => "5" , :id => "field", :required =>true%> <br/>
                </p>
                <%= hidden_field_tag :questionnaire_id, questionnaire.id %>
              </div>
              <div class = "pattern_form_down">
                <p class = "save">
                  <%= submit_tag "إرسال",:class =>"btn btn-primary" %>
                </p>
            </div>
        <%end%>
      </div>
    <div class="span4">
      <img src="/assets/questionnaire.png" width="200px" >
      <p><%= questionnaire.title %></p>
      <p class ="opt review">دعوة</p>
      <p class ="opt"><%= link_to 'امسح', questionnaire, method: :delete, data: { confirm: "هل انت متأكد !" },:class =>"delete_questionnaire" ,:remote =>true%></p>
    </div>
  <% end %>

<div class="span4" data-toggle="tooltip" title="إنشاء استبيان جديد">
  <p class="addq"><%= link_to image_tag("/assets/addquestionnaire.png"), {:action => 'new', :controller => 'questionnaires',:project_id => @project }%></p>
</div>

