<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_tag({:controller => "blogposts", :action => "search"}, :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q,nil, :class => "search") %>
  <%= submit_tag("Search", :class => "search") %>
<% end %>

<%= yield %>

</body>
</html>
