<html>
<body dir="rtl">
<h2>تسجيل الدخول</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><label>البريد الإلكتروني</label><br /> <!-- :email -->
  <%= f.text_field :login, :autofocus => true %></div>

  <div><label>كلمة السر</label><br />  <!--:password-->
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <label>تذكرني</label></div> <!-- remember me-->
  <% end -%>

  <div><%= f.submit "تسجيل دخول " %></div>

  <%# Link to sign in with facebook %>
  <h4><%= link_to_rpx "ادخل باستخدام حساب الفيسبوك", designer_session_url %></h4>
<% end %>

<%= render "devise/shared/links" %>
</body>
</html>
