<%= stylesheet_link_tag "homepage"%>
<%= javascript_include_tag "homepage"%>

<body dir="rtl">
  <%# Link to sign in with facebook %>
  <table class = "icons" align="left">
    <tr>
      <th><img src="/images/login-icon.png" class ="login_image" onclick= "sliding_form()"/></th>
      <th><%= link_to_rpx image_tag("/images/facebook_icon.png"), designer_session_url %>
      </th>
    </tr>
  </table>
  <div class="login_form span1">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <p>
        <i class="icon-user icon-large"></i>
        <%= f.email_field :email, :placeholder=> "اﻟﺒﺮﻳﺪ اﻹﻟﻜﺘﺮﻭﻧﻲ", :required =>true %>
      </p>
      <p>
        <i class="icon-lock icon-large"></i>
        <%= f.password_field :password,:placeholder=> "ﻛﻠﻤﺔ اﻟﺴﺮ", :required =>true %>
      </p>        
      <% if devise_mapping.rememberable? -%>
        <div>ﺗﺬﻛﺮﻧﻲ <%= f.check_box :remember_me %></div> <!-- remember me-->
        <p class = "forgot_password"><%= render "devise/shared/links" %></p>
        <div align="left"><%= f.submit "ﺩﺧﻮﻝ", options = {:class => "btn btn-info"} %></div>
      <% end %>
    <% end %>
  </div>
  </br>
  </br>
  </br>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "تسجيل", new_registration_path(resource_name) %> <!-- sign up -->
  <% end -%>
  </br></br></br></br></br></br></br></br></br></br>
  <footer>
    <div class="navbar container">
      <div class="navbar-inner">
        <ul class="nav">
          <li class = "right"><a class = "right_link" href="#">شاركنا</a></li>
          <li class = "center"><a class = "center_link" href="#">من نحن ؟</a></li>
          <li class = "left"><a class = "left_link"  href="#">لمحة عن الموقع</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>