<%= stylesheet_link_tag "homepage"%>
<%= javascript_include_tag "homepage"%>

<body>
  <%# Link to sign in with facebook %>
  <div id = "icons">
    <table class = "icons" align="left">
      <tr>
        <th><%= link_to_rpx image_tag("/images/facebook_icon.png" , :class=>"facebook_icon" ), designer_session_url%></th>
        <th><img src="/images/login-icon.png" class ="login_image" onclick= "sliding_form()"/></th>
      </tr>
    </table>
  </div>
  <div class="login_form span2" dir = "rtl">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <p>
        <i class="icon-user icon-large"></i>
        <%= f.email_field :email, :placeholder=> "اﻟﺒﺮﻳﺪ اﻹﻟﻜﺘﺮﻭﻧﻲ", :required =>true %>
      </p>
      <p>
        <i class="icon-lock icon-large"></i>
        <%= f.password_field :password,:placeholder=> "ﻛﻠﻤﺔ اﻟﺴﺮ", :required =>true %>
      </p>        
      <% if devise_mapping.rememberable? -%>
        <div>ﺗﺬﻛﺮﻧﻲ <%= f.check_box :remember_me %></div> <!-- remember me-->
        <p class = "forgot_password"><%= render "devise/shared/links" %></p>
        <div align="left"><%= f.submit "ﺩﺧﻮﻝ", options = {:class => "btn btn-info"} %></div>
      <% end %>
    <% end %>
  </div>
  <div class ="pattern">
    <img src="/images/pattern.png"/>
  </div>
  <div>
    <div id="slide" class="carousel slide span15">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item" style="background-color:#AAAAAA">
          <img class = "slide_images" src="/images/1.jpg"/>
        </div>
        <div class="item" style="background-color:#AAAAAA">
          <img class = "slide_images" src="/images/2.jpg"/>
        </div>
        <div class="item" style="background-color:#AAAAAA">
          <img class = "slide_images" src="/images/3.jpg"/>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="slide_control_left carousel-control left" href="#slide" data-slide="prev"><img src="/images/left_arrow.png"/></a>
      <div class="slide_control_right">
      <a class="slide_control_right carousel-control right" href="#slide" data-slide="next"><img class = "slide_r_img" src="/images/right_arrow.png"/></a>
      </div>
    </div>
  </div>
  <div class = "register">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to image_tag("/images/sign_up.png" , :class=>"sign_up") , new_registration_path(resource_name) %> <!-- sign up -->
  <% end%>
  </div>
  <div id = "who_are_we">
    <div align = "center" class = "info">
    <img src="/images/arability_info.png"/>
    </div>
  </div>
  <div id = "glimpse">
    <img class="under" src="/images/under_construction.png"/>
  </div>
  <footer>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner foot">
        <ul class="nav">
           <li><a href="https://twitter.com/3arability"><img  class = "twitter" src="/images/twitter.png"/></a></li>
          <li class = "left"><a id = "left_link"  href="#glimpse">لمحة عن الموقع</a></li>
          <li class = "center"><a id = "center_link" href="#who_are_we">من نحن ؟</a></li>
          <li class = "right"><a id = "right_link" href="#">شاركنا</a></li>
        </ul>
          <a class ="copy">&copy;2013 ﺃﺭاﺑﻠﻴﺘﻲ</a>
      </div>
    </div>
  </footer>
</body>