<%= javascript_include_tag "share_facebook" %>
<%= stylesheet_link_tag "invitation" %>

<div align=right>
<%= form_tag(:task_id => t.id) do %>
  <p> البريد الألكتروني: </br> <%= text_field_tag :email, nil,:placeholder => "البريد الألكتروني", :required => true,:pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :id => "email" + t.id.to_s %> </p>
  <p> رسالة الدعوة: </br> <%= text_field_tag :invitation_message, nil, :placeholder => "رسالة الدعوة" , :id => "invitation_message" + t.id.to_s%> </p> 
  <%= button_to_function 'Invite', 'invite'+t.id.to_s+'()', :id=> "form_button" %> 
<% end %>  
</div>



<script>
function invite<%=t.id%>(){
  var params = $.param({
    email: $('#email<%=t.id%>').val(),
    invitation_message: $('#invitation_message<%=t.id%>').val(),
    task_id: '<%= t.id %>',
    project_id: '<%= params[:project_id] %>'
  });
  $.ajax({url: "/tasks/invite_user?"+params, method: "post"});
}

</script>
