<p> Page ID is <%=@page.id %> </p>

<div id ="embedded">
<%= @page.html.html_safe %>
</div>

<table>
  <tr>
      <td> Step ID  </td>
      <td> Component</td>
      <td> Event</td>
  </tr>
  <% @steps.each do |step| %>
    <tr>
      <td><%= step.id %> </td>
      <td><%= step.component %> </td>
      <td><%= step.event %> </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(function(){
   $("#embedded").find('input').click(function(event){
        var id = event.target.id;
        alert ('The id of the HTML component you clicked on is ' + id);
        var params = $.param({
        component: id,
        "event" : "onclick"
        //desc: $('#description').val()
        });
        $.ajax("/tasks/new_step?" + params)
  });});
</script>