<div id ="wrapper" >

  <div id ="sidebar">
    <div id="add_step" style ="display:none; text-align:left">

      <h2> أضف خطوة جديدة </h2>

      <div id = "general_events" >
        <% ['onclick', 'onhover'].each do |event| %>
          <br><%= radio_button_tag 'event', event, @event == event %>
          <%= label_tag "event_#{event}", event.humanize %>
        <% end %>
      </div>

      <div>
        <input id = "step_description" placeholder = "Enter Step Description" > </input>
      </div>

      <button id ="save_step" style="width: 200px; height:30px;"> إضافة الخطوة </button>

    </div>

    <h2 style = "text-align:left"> الخطوات </h2>
    <table dir ="rtl">
      <tr>
          <td> رقم الخطوة  </td>
          <td> الجزء</td>
          <td> الحدث</td>
      </tr>
      <% @steps.each do |step| %>
        <tr>
          <td align="center"><%= step.id %> </td>
          <td><%= step.component %> </td>
          <td><%= step.event %> </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id="content">
    <p> Page ID is <%=@page.id %> </p>

    <div id ="embedded">
      <%= @page.html.html_safe %>
    </div>

    <%= link_to "أضف خطوة", new_step_path, :task => @task.id, :event => "onclick", :component => "button1" %>

    <%= hidden_field_tag(:component_id, :id,  :value => "hidden") %>


  </div>
</div>

<script type="text/javascript">
  $(function(){
   $("#embedded").find('input').click(function(event){
        $("#add_step").show();
        var id = event.target.id;

        alert ('The id of the HTML component you clicked on is ' + id);
        $("#component_id").val(id);
        //desc: $('#description').val()

  });});
</script>

<script type = "text/javascript">
  $(function(){
    $("#save_step").click(function(event){
        var params = $.param({
        task: <%= @task.id %>,
        component: $("#component_id").val(),
        "event" : "onclick"
    });
    $.ajax("/tasks/new_step/?" + params);
  });});
</script>