<%= javascript_include_tag "share_facebook" %>
<%= stylesheet_link_tag "flowchart"%>
<script src = 'http://connect.facebook.net/en_US/all.js'></SCRIPT>
<script> FB.init({appId: "346985668734261", status: true, cookie: true}); </script>

<style>
  #wrapper{
    padding-right: 0px;
  }

  .table th, .table td {
      border-top: 1px solid #8d8d8d;
      line-height: 20px;
      padding: 10px 2px;
      text-align: left;
      vertical-align: top;
  }

  .table-striped tbody tr:nth-child(odd) td,
  .table-striped tbody tr:nth-child(odd) th {
    background-color: rgba(60, 60, 60, 0.4);
  }
  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    background-color: rgba(75, 75, 75, 0.4);
  }
  .table th  {
      font-weight: 700;
      height: 30px;
      text-transform: uppercase;
      vertical-align: middle;
  }
</style>

<div id="wrapper">
  <div id="content"> 

  <div class="titleS">
    <div id="tit">قائمة المهام</div><div id="tb"></div>
  </div>

  <% if Project.find(params[:project_id]).pages.empty? %>
    <h2>لا تستطيع عمل مهام في مشروع فارغ, توجه الى هذه الصفحة لتبدأ <%= link_to 'التصميم', '../design/' + params[:project_id] %></h2>
  <% else %>
    <%= link_to 'مهمة جديدة', new_project_task_path %>

    <table class="table table-hover table-striped">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th  style="text-align:right;">توصيف المهمة</th>
        <th  style="text-align:right;">اسم المهمة</th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td><input type="image" src="/images/facebook_icon.png" width="41px" height="41px"onclick = 'postToFeed("Please take this task", "http://localhost:3000/projects/<%= params[:project_id]%>/tasks/<%=task.id%>/", "<%= task.name %>")'></input></td>
          <td style="text-align:right;"><%= link_to 'تعديل الخطوات', edit_steps_path(params[:project_id], task) %> </td>
          <td style="text-align:right;"><%= link_to 'النتائج', project_task_path(params[:project_id], task) %></td>
          <td style="text-align:right;"><%= link_to 'تعديل', edit_project_task_path(params[:project_id], task) %></td>
          <td style="text-align:right;"><%= link_to 'الغاء', project_task_path(params[:project_id], task), :method => :delete, :data => { :confirm => 'هل تريد الغاء المهمة' } %></td>
          <td><a data-toggle="modal" href="#<%=task.id%>">ارسل دعوة</a>
              <div id="<%= task.id%>" class="modal hide fade in" style="display: none; background-color: #000000">  
                <div class="modal-header">  
                  <a class="close" data-dismiss="modal" >×</a>
                </br>
                  <h3 align=right>أرسال دعوة</h3>    
                </div>  
                <div class="modal-body">
                  <%= render :partial => 'invite', :locals => {:t => task}%> 
                </div>
              </div>    
          </td>
          <td style="text-align:right;"><%= task.description %></td>
          <td style="text-align:right;"><%= task.name %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  </div>
</div>