<h1>Listing tasks</h1>

<table align = "right">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>مشروع</th>
    <th>مهمة</th>
    <th>وصف</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to 'اظهار', task %></td>
    <td><%= link_to 'تعديل', edit_task_path(task) %></td>
    <td><%= link_to 'الغاء', task, method: :delete, data: { confirm: 'هل تريد الغاء هذه المهمة' } %></td>
    <td><%= task.project %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
  </tr>
<% end %>
</table>

<br />

<p align = "right" ><%= link_to 'مهمة جديدة', new_task_path %></p>
