<h1>قائمة المهام</h1>
<% if Project.find(params[:project_id]).pages.empty? %>
  <h2>لا تستطيع عمل مهام في مشروع فارغ, توجه الى هذه الصفحة لتبدأ <%= link_to 'التصميم', '../design/' + params[:project_id] %></h2>
<% else %>
  <%= link_to 'مهمة جديدة', new_project_task_path %>
  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th  style="text-align:right;">توصيف المهمة</th>
      <th  style="text-align:right;">اسم المهمة</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td style="text-align:right;"><%= link_to 'تعديل الخطوات', edit_steps_path(params[:project_id], task) %> </td>
        <td style="text-align:right;"><%= link_to 'النتائج', project_task_path(params[:project_id], task) %></td>
        <td style="text-align:right;"><%= link_to 'تعديل', edit_project_task_path(params[:project_id], task) %></td>
        <td style="text-align:right;"><%= link_to 'الغاء', project_task_path(params[:project_id], task), :method => :delete, :data => { :confirm => 'هل تريد الغاء المهمة' } %></td>
        <td style="text-align:right;"><%= link_to 'ادع أحد للمراجعة',:controller=> :tasks, :action =>	 :invite, :id => task.id  %></td>
        <td style="text-align:right;"><%= task.description %></td>
        <td style="text-align:right;"><%= task.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>
