<h1>قائمة المهام</h1>

<% if Project.find(params[:project_id]).pages.empty? %>
  <h2>لا تستطيع عمل مهام في مشروع فارغ, توجه الى هذه الصفحة لتبدأ <%= link_to 'التصميم', '../../design/' + params[:project_id] %></h2>
<% else %>
  <%= link_to 'مهمة جديدة', new_project_task_path %>

  <table class="table table-striped table-bordered">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>توصيف المهمة</th>
      <th>اسم المهمة</th>
    </tr>

    <% @tasks.each do |task| %>
    
      <tr>
        <td><%= link_to 'تعديل الخطوات', edit_steps_path(task) %> </td>
        <td><%= link_to 'النتائج', project_task_path(params[:project_id], task) %></td>
        <td><%= link_to 'تعديل', edit_project_task_path(params[:project_id], task) %></td>
        <td><%= link_to 'الغاء', project_task_path(params[:project_id], task), :method => :delete, :data => { :confirm => 'هل تريد الغاء المهمة' } %></td>
        <td><%= link_to 'invite',:controller=> :tasks, :action =>	 :invite, :id => task.id  %></td>
        <td><%= task.description %></td>
        <td><%= task.name %></td>
      </tr>
      
    <% end %>
  </table>
<% end %>