<p id="notice"><%= notice %></p>
<table align = "right">
  <tr>
    <th></th>
    <th>مهمة</th>
    <th>وصف</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to 'الغاء', task, method: :delete, data: { confirm: 'هل تريد الغاء هذه المهمة' } %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
  </tr>
<% end %>
</table>

<br />

<p align = "right" ><%= link_to 'مهمة جديدة', new_project_task_path(@project) %></p>