<link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">

<h1>قائمة المهام</h1>

<div id="block">

<% @tasks.each do |task| %>
  <div id="task">
    <p><%= task.name %></p>
    <p><%= task.description %></p>
    <button><%= link_to 'تعديل', edit_project_task_path(params[:project_id], task) %></button>
    <button><%= link_to 'الغاء',project_task_path(params[:project_id], task), :confirm => 'هل تريد الغاء المهمة', :method => :delete %></button>
    <button><%= link_to 'النتائج', project_task_path(params[:project_id], task)%></button>
    <button>تحديد تسلسل المهمة</button>
  </div>
  <br />
<% end %>

<br />

<%= link_to 'مهمة جديدة', new_project_task_path %>

</div>
