<link rel="stylesheet" type="text/css" href="/assets/taskindex.css">

<h1>قائمة المهام</h1>

<div id="block">

<% @tasks.each do |task| %>
  <div id="task">
    <p> تم عمل المهمة <%=task.created_at.strftime "%d-%m-%Y %H:%M:%S"%></p>
    <p><%= task.name %></p>
    <p><%= task.description %></p>
    <div>
      <button><%= link_to 'تعديل', edit_project_task_path(params[:project_id], task) %></button>
      <button><%= link_to 'الغاء',project_task_path(params[:project_id], task), :confirm => 'هل تريد الغاء المهمة', :method => :delete %></button>
      <button>النتائج</button>
      <button>تحديد تسلسل المهمة</button>
    </div>
  </div>
  <br />
<% end %>

<br />

<%= link_to 'مهمة جديدة', new_project_task_path %>

</div>
