<%= form_for :task, :url => {:action => "create"} do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "اسم المهمة" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "توصيف المهمة" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit  "تسليم" %>
  </div>
<% end %>

