<h1>مهمة جديدة</h1>

<%= form_for :task, :url => {:action=>"create", :controller=>"tasks"}, :html => {:class => "nifty_form"} do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>: عذرا لم نستطع استكمال طلبك</h2>

      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li style="color:red;"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "اسم المهمة" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "وصف المهمة" %><br />
    <%= f.text_area :description %>
  </div>
  <div class = "field">
    <% if ! @pageslist.empty? %>
    <%= f.select :page_id, @pageslist %>
    <% end %>
  </div>
  <div class="actions">
    <button><%= link_to 'العودة الى قائمة المهام', project_tasks_path %></button>
    <%= f.submit "مهمة جديدة"%>
  </div>
<% end %>