<%= stylesheet_link_tag    "application", :media => "all" %>
<p id="notice"><%= notice %></p>

<h2 align="right">نتائج المهام</h2>

<% if @task.task_results.length !=0 %>
  <table align="right" class="table table-striped table-bordered">
    <tr>
      <th>البريد الالكتروني</th>
      <th>الوقت</th>
      <th>نسبة النجاح</th>
      <th>عدد الضغطات</th>
      <th>details</td>
    </tr>
    <% @task.task_results.each do |result| %>
      <% render "calculate_success", :f => result %> 
      <%if result.reviewer %>
        <tr>
      	  <td><%= result.reviewer.email %></td>
      	  <td><%= result.time %></td>
      	  <td><%= result.success %> % </td>
      	  <td><%= result.clicks %><td>
        </tr>
        <tr>
          <td><%= render "create_bars", :x => result %></td>
        </tr>
      <% end %>
    <% end %> 
  </table>
<% else %> 
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>عذراً!</strong> لا توجد نتائج 
  </div>
<% end %>
<div id="statistics">
  <div id="demographic" style="border: 0px solid #000; width: 900px; display:block; height:200px; margin: 0 auto;">
    <div id="gender" style="display:inline-block; width: 300px; height: 200px; float: left;">
      <p>النوع</p>
      <% a = compareGender(@task) %>
      <% if a.start_with?('http') %>
        <img src = <%= a %>>
      <% else %>
        <p><%= a %></p>
      <% end %>
    </div>
    <div id = "age" style="display:inline-block; width:300px; height: 200px; float: right;">
      <p>السن</p>
      <% a = compareAge(@task) %>
      <% if a.start_with?('http') %>
        <img src = <%= a %>>
      <% else %>
        <p><%= a %></p>
      <% end %>
    </div>
    <div id="country" style="display:inline-block; width: 300px; height: 200px; margin: 0 auto;">
      <p>البلد</p>
      <% a = compareCountry(@task) %>
      <% if a.start_with?('http') %>
        <img src = <%= a %>>
      <% else %>
        <p><%= a %></p>
      <% end %>
    </div>
  </div>
  <br>
  <div id="results_summary" style="border: 0px solid #000; width: 900px; height:200px; display:block; margin: 0 auto;">
    <p>احصائيات النتائج</p> 
    <div id = "time" style="display:inline; float:right; width:450px; height:200px">
      <% if @tasks != nil %>
        <% a = calculateResultsSummary([@task, @tasks]) %>
      <% else %>
        <% a = calculateResultsSummary([@task]) %>
      <% end %>
      <% if a[0].start_with?('http') %>
        <img src = <%= a[0] %>>
      <% else %>
        <p><%= a %></p>
      <% end %>
    </div>
    <div id = "success" style="display:inline; float:left; width:450px; height:200px">
      <% if @tasks != nil %>
        <% a = calculateResultsSummary([@task, @tasks]) %>
      <% else %>
        <% a = calculateResultsSummary([@task]) %>
      <% end %>
      <% if a[1].start_with?('http') %>
        <img src = <%= a[1] %>>
      <% else %>
        <p><%= a %></p>
      <% end %>
    </div>
  </div>
  <% taskslist = [] %>
  <% tasks = Project.find(@task.project_id).tasks %> 
  <% tasks.each do |t| %>
  <% taskslist[tasks.index(t)] = [t.name, t.id] %>
  <% end %>
  <%= form_for :taskid, :url => {:action=>"show", :controller=>"tasks"}, :html => {:class => "nifty_form", :method => "GET"} do |f| %>
    <div class = "field">
      <% if !taskslist.empty? %>
      <%= f.select :task_id, taskslist %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "قارن هذه المهمه بمهمه أخرى"%>
    </div>
  <% end %>
</div>