<%= stylesheet_link_tag    "application", :media => "all" %>
<p id="notice"><%= notice %></p>

<h2 align="right">تعديل الخطوات</h2>
<%= link_to 'الذهاب إلى الصفحة', edit_steps_path(params[:project_id], @task) %>

<br/>

<h2 align="right">نتائج المهام</h2>

<% if @task.task_results.length !=0 %>
  <% @task.task_results.each do |result| %>
    <%if result.reviewer %>
      <table align="right" class="table table-striped table-bordered">
        <tr>
          <th style="background-color: #1b1b1b;">البريد الالكتروني</th>
          <th style="background-color: #1b1b1b;">الوقت</th>
          <th style="background-color: #1b1b1b;">النجاح</th>
          <th style="background-color: #1b1b1b;">عدد الضغطات</th>
          <th style="background-color: #1b1b1b;"></th>
        </tr>      
        <tr>
      	  <td><%= result.reviewer.email %></td>
      	  <td><%= result.time %></td>
      	  <td><%= result.success %></td>
      	  <td><%= result.clicks %><td>
          <%= link_to 'التفاصيل',:controller=> :tasks, :action =>  :log, :project_id =>params[:project_id], :task_id => @task.id, :result_id => result.id %>
        </tr>       
      </table>
    <% end %>
    <%if result.reviewer %>
      <table align="right" width=100%>
        <tr>
          <td><%= render "create_bars", :x => result %></td>
        </tr>
      </table>
    <%end%>
  <% end %> 
  
<% else %> 
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>عذراً!</strong> لا توجد نتائج 
  </div>
<% end %>
