<h2 align="right">الاحصائيات</h2>
<div id="task_results">
  <% if @task.task_results.length !=0 %>
    <table align="right">
      <tr>
        <th>البريد الالكتروني</th>
        <th>الوقت</th>
        <th>نسبة النجاح</th>
        <th></th>
      </tr>
      <% @task.task_results.each do |result| %>
        <%if result.reviewer %>
  	<tr>
  	  <td><%= result.reviewer.email %></td>
  	  <td><%= result.time %></td>
  	  <td><%= result.success %></td>
  	  <td><%= link_to 'التفاصيل', :controller=> :task_results, :action => 	:index, :id => result.id %></td>
  	</tr>
        <% end %>
      <% end %> 
    </table>
  <% else %> 
    <div>
        <h2> No one took the task </h2>
    </div>    
  <% end %>
</div>

<div id="statistics">
  <div id="gender">
    <p>النوع</p>
    <% a = compareGender(@task) %>
    <% if a.start_with?('http') %>
      <img src = <%= a %>>
    <% else %>
      <p><%= a %></p>
    <% end %>
  </div>
  <div id = "age">
    <p>السن</p>
    <% a = compareAge(@task) %>
    <% if a.start_with?('http') %>
      <img src = <%= a %>>
    <% else %>
      <p><%= a %></p>
    <% end %>
  </div>
  <div id="country">
    <p>البلد</p>
    <% a = compareCountry(@task) %>
    <% if a.start_with?('http') %>
      <img src = <%= a %>>
    <% else %>
      <p><%= a %></p>
    <% end %>
  </div>
  <div id = "taskresutls">
    <p>احصائيات النتائج</p>
    <% a = avgtime(@task) %>
    <% if a.start_with?('http') %>
      <img src = <%= a %>>
    <% else %>
      <p><%= a %></p>
    <% end %>
  </div>
</div>