<%= stylesheet_link_tag    "application", :media => "all" %>
<p id="notice"><%= notice %></p>


<h2 align="right">نتائج المهام</h2>

<% if @task.task_results.length !=0 %>
  <table align="right" class="table table-striped table-bordered">
    <tr>
      <th>البريد الالكتروني</th>
      <th>الوقت</th>
      <th>نسبة النجاح</th>
      <th>عدد الضغطات</th>
      <th>details</td>
    </tr>
    <% @task.task_results.each do |result| %>
      <% result = TaskResult.find(params[:id])%>
      <% successful_steps = 0 %>
      <% result.step_answers.each do |solution| %>
	<% if solution.successful %>
	  <% successful_steps += 1 %>
	<% end %>
      <% end %>
      <% number_of_steps = result.step_answers.length %>
      <% result.success = (successful_steps.to_f / number_of_steps) * 100 %>
      <% result.save %>
      <%if result.reviewer %>
	<tr>
	  <td><%= result.reviewer.email %></td>
	  <td><%= result.time %></td>
	  <td><%= result.success %> % </td>
	  <td><%= result.clicks %><td>
	</tr>
	<tr>
	<td>
	    <div class="progress">
	      <% step_number = 0 %>
	      <% result.step_answers.each do |sol| %>
		<% step_number += 1%>
		<% if sol.successful %>
		  <div class="bar bar-success" style="width: 10%;"><%= step_number %></div>
		<% else %>
		  <div class="bar bar-danger" style="width: 10%;"><%= step_number %></div>
		<% end %>
	      <% end %> 
	    </div>  
	  </td>
	</tr>
      <% end %>
    <% end %> 
  </table>
<% else %> 
  <div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>عذراً!</strong> لا توجد نتائج 
</div>
<% end %>

<%= link_to 'Back', tasks_path %>
