<%= stylesheet_link_tag "reviewer_task" %>
<%= javascript_include_tag "task_reviewer" %>
<script type="text/javascript">
var step_answer_success ='true';
var curr_time = "<%=Time.now.strftime("%I:%M:%S")%>"; //used to get the starting time of the task
/////////////////////new story//////////////////////////

var steps_ids_array; //array that contains all the ids of all the steps
var steps_components_array; //array that contains all the ids of the components of all the steps
var steps_events_array; //array that contains all the steps' events
var steps_description_array;// array that contains all the steps' description
var starting_hours;
var starting_minutes;
var starting_seconds;
var projectid;
$(document).ready(function(){
  var frame_timeout=setTimeout('updateHtml()',0.1);
  // initially loads the 1st cmp higlighted then loads with the nxt step's comp. highlighted
  steps_ids_array="<%=@task.steps.all.map(&:id).join(',')%>".split(','); //array of all steps ids
  steps_components_array="<%= @task.steps.all.map(&:component).join(',')%>".split(','); //array of components ids
  steps_events_array= "<%= @task.steps.all.map(&:event).join(',')%>".split(','); //array of all steps event
  steps_description_array= "<%= @task.steps.all.map(&:description).join(',')%>".split(',');//array of all descriptions

  starting_hours= new Date().getHours();
  starting_minutes= new Date().getMinutes();
  starting_seconds= new Date().getSeconds();
  starting_time= starting_hours+ ":"+starting_minutes; //get the starting time of the task
  
  if ( <%= @task.requires_reviewer_info %>){
  display_form(); // a function that blurs page content and displays form
  }

  if (steps_ids_array.length >1) {
    //If the steps mode is used it will highlight the 1st step's component
    //setTimeout('highlight(steps_components_array[0])',2);    //highlight the current step's component
   $(function(){ $('.desc').fadeIn(100)});
    document.getElementById('description_paragraph').innerHTML=steps_description_array[0];
  } 

  var time_parsed= <%= @task.time_limit %>;
  var time_out = setTimeout('times_up()',time_parsed*60*10*10*10); //removes the page contents and renders a msg on time out
});

var clicks_counter=0;
var total_time=0;
var task_time="0:"+<%= @task.time_limit %> + ":0"; //the time fram specified for the task



$('#sarah').on('mouseover',function(){
  alert("divayaa");
});

$("input").on('keyup', function(event){
  update_log(event.target,'keyup');
//update(event.target,'keyup');
});

$(document).ready(function(){
  projectid= <%= @page.project_id %>;
});
</script>
<div id='content'>
<div id= "info_form" >
  <div id="form_title"><p>:إملأ الاستمارة </p></div>
 <%= render "reviewer_infos/reviewer_info_form" %>     
</div>
<div id = "coloured"></div>
<div class="goal">
  <p> <%= @task.description%></p>
</div>
<div class="desc"> 
   <p id='description_paragraph'></p>
</div>
<div id ='sarah'></div>
<div id='page'> 
      <iframe id="preview_mode" src= <%="/#{@page.project_id}/#{@page.page_name}.html"%>></iframe>
</div>
<div id="time_out"> <p>لقد أتممت المهمة بنجاح! شكراً  </p> </div>
</div>

<div id="forms_div">
<!--A hidden form that update the values of success, step_id. starting time and total time taken in the database -->
<%= form_for [@project,@task,@step] ,remote: true, html: {:id => "steps_form"} do %>  
  <%= hidden_field_tag "change_success", 'false' %>
  <%= hidden_field_tag "change_id", '1' %>
  <%= hidden_field_tag "start_time", '1' %>
  <%= hidden_field_tag "change_clicks", '0' %>
  <%= hidden_field_tag "total_time_taken", '0' %>
<% end %>

<!--A hidden form that creates a new instance of log in the database to store the actions taken by the user -->
<%= form_for :log ,remote: true , :html => {:id => "log_form"} , :url => { :controller => 'logs', :action => 'new'} do |l| %>
<%= hidden_field_tag "change_action", ' ' %>
<%= hidden_field_tag "change_action_time", '0' %>
<%= hidden_field_tag "change_component_involved", ' ' %>
<%= hidden_field_tag "change_element_id", '0' %>
<% end %>

<!-- A hidden form that updates the task_result by the total_time_taken, clicks count and the success -->
<%= form_for [@project,@task,@task_result], remote: true , :html => {:id => "task_result_form"} do %>
  <%= hidden_field_tag "change_clicks_count", '0' %>
  <%= hidden_field_tag "change_time_taken", '1' %>
<% end %>
</div>
